IGDB_ID_CLIENT="your-client-id"
IGDB_SECRET_KEY="your-secret-key"

API_URL="http://localhost:3000" # or your production URL

UPSTASH_REDIS_REST_URL="https://<your-redis-instance>.upstash.io"
UPSTASH_REDIS_REST_TOKEN="<your-redis-token>"
