@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-1000: #000;
  --gray-600: #666;
  --gray-500: #5c5c5c;
  --gray-200: #e5e5e5;
  --gray-100: #f5f5f5;
  --gray-0: #fff;

  --pink-600: #ff008e;
  --pink-200: #c698b8;
  --pink-100: #e7c0db;
  --pink-50: #ff00ae;

  --violet-900: #3c1661;
  --violet-600: #6727a6;
  --violet-100: #775c90;
  --violet-50: #e2dce7;

  --red-600: #d23f63;

  --green-600: #67c076;
}
